body
{
    background: rgba(21, 17, 19, 0.07);
}

.content-body{

    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;;

    border-radius: 5px;
    border: solid 1px rgba(14, 11, 10, 0.32);

}
.info-work
{
    width: 250px;
}

.filter-user
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.today
{
    background-color: #EDEFD1;
}

.content-info{
    overflow: auto;
    overflow-y:hidden;
}

.head-info
{
    padding: 10px;
}
.content-info
{
    padding: 10px;
}
footer
{
    height: 48px;
    padding: 5px 8px 5px 8px;
    background: #f8f9fa!important;
}