body
{
    background: rgba(21, 17, 19, 0.07);
}
.nav-header
{
    height: 48px;
    background: #f8f9fa!important;
}
.content-body{

    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;;

    border-radius: 5px;
    border: solid 1px rgba(14, 11, 10, 0.32);

}

.head-info
{
    padding: 10px;
}
.today
{
    background-color: #EDEFD1;
}
.pause-time{
    color: #b5bc83;
}
.day-work-time{
    color: #9dff35;
}
.content-info
{
    padding: 10px;
}
footer
{
    height: 48px;
    padding: 5px 8px 5px 8px;
    background: #f8f9fa!important;
}